[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
bs4 = "*"
termcolor = "*"
typer = "*"
build = "*"

[dev-packages]
pre-commit = "3.7.0"

[scripts]
build = "python3 -m build"
