[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
bs4 = "*"
termcolor = "*"
typer = "*"

[dev-packages]
pre-commit = "3.7.0"

[requires]
python_version = "3.12"


[scripts]
build = "python3 -m build"
